/*made bullets white, when background-color: white was entered, nothing changed*/
.header-menu {
  color: white
}

/*div nav wrapper gray*/
.nav-wrapper {
  background-color: gray
}

/*trying again*/
/*colored main menu background*/
.main-menu-dropdown {
  background-color: #dadada
}
